:root {
  --height: 50vh;
  --pipePosition: 1000px;
}

body,
html {
  background-color: #121212;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#player {
  background-color: greenyellow;
  position: absolute;
  height: 50px;
  width: 50px;
  top: var(--height);
  left: 30vw;
}

#pipe {
  position: fixed;
  background-color: darkgreen;
  height: 100vh;
  width: 100px;
  margin: 0px;
  left: var(--pipePosition);
}
/* @media (min-width: 430px){
  #player {
    background-color: greenyellow;
    position: absolute;
    height: 50px;
    width: 50px;
    top: var(--height);
    left: 500px;
  }
}
   */