:root {
  --height: 50vh;
  --pipePosition: 1000px;
}

body,
html {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: url("./sprites/background.png") no-repeat;
  background-size: cover;
  height: 100%;
}

#player {
  background-color: greenyellow;
  position: absolute;
  height: 50px;
  width: 50px;
  top: var(--height);
  left: 30vw;
}